.col-md-9 {
  background-color: #e40007;
  height: 200px;
}

.col-md-3 {
  background-color: #00ffff;
  height: 100px;
  border: 1px solid #000;

}

.test {
  height: 50px;
  background-color: #00ff00;
}
